<navigationbar></navigationbar>
<section id="profile">
	<section id="user-profile" class="col-xs-4">
		<div>
			<h1>{{user}}'s Profile</h1>
			<img/>
		</div>
		<div>
			<p ng-show="noBio">Tell us about yourself!</p>
			<p ng-show="!bioEditMode && !noBio">{{bio}}</p>
			<a ng-show="!bioEditMode" href="" ng-click="bioEdit()">edit</a>
			<div ng-show="bioEditMode" >
				<textarea ng-model="bioInput" rows="6" cols="50"></textarea>
				</br>
				<input type="button" id="submit" class="btn btn-success" ng-click="bioSubmit()" value="Submit!"/>
			</div>
			<h3>{{user}}'s Favorite Bands</h3>
			<p ng-show="noBands">List your favorite bands!</p>
			<p ng-show="!bandEditMode && !noBands">{{bands}}</p>
			<a ng-show="!bandEditMode" href="" ng-click="bandEdit()">edit</a>
			<div ng-show="bandEditMode" >
				<textarea ng-model="bandInput" rows="6" cols="50"></textarea>
				</br>
				<input type="button" id="submit" class="btn btn-success" ng-click="bandSubmit()" value="Submit!"/>
			</div>			
		</div>
		<div>
			<h3>friendlist</h3>
			<ul style="list-style-type:none">
				<h4 ng-show="emptyFriend">Get friendly and add some friends!</h4>
				<li ng-repeat="friend in friends">
					<h4><a href="" ng-click="friendSearch(friend.friendname)">{{friend.friendname}}</a></h4>
				</li>
			</ul>
		</div>
	</section>
	<section class="col-xs-2">
		<div>
			<img gravatar-src="email"/>
			<p>Edit your profile pic on <a href="https://en.gravatar.com/" target="_blank">Gravatar</a></p>
		</div>
	</section>
	<section id="lists" class="col-xs-6">
		<h2>{{user}}'s Wishlist</h2>
		<div id="carousel">
			<div uib-carousel interval="interval" active="active">
				<div uib-slide ng-repeat="item in wishItems track by item.id" index="item.id">
					<img ng-src="{{item.url}}" id="carouselImg"/>				
					<div class="carousel-caption">
						<h4>{{item.artist}}</h4>
						<h4>{{item.album}}</h4>
					</div>				
				</div>
			</div>
		</div>
		<h2>{{user}}'s Collection</h2>
		<div id="carousel">
			<div uib-carousel interval="interval" active="active">
				<div uib-slide ng-repeat="colItem in collectItems track by colItem.id" index="colItem.id">
					<img ng-src="{{colItem.url}}" id="carouselImg"/>
					<div class="carousel-caption">
						<h4>{{colItem.artist}}</h4>
						<h4>{{colItem.album}}</h4>
					</div>					
				</div>
			</div>
		</div>		
	</section>
</section>