	<navigationbar></navigationbar>
    <section id="search" class="col-xs-12">
        <h2>Search by Album</h2>
        <!--search by album form-->
        <form id="form-search" ng-submit="search()" class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="searchAlbum.artist" placeholder="Artist" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="searchAlbum.album" placeholder="Album Title" class="form-control" required/>
            </div>
            	<input type="submit" id="submit" class="btn btn-success" value="Search!"/>
            <div>
                <label class="radio-inline">
                     <input type="radio" ng-model="format.cd" value="cd">CD
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="format.vinyl" value="vinyl">Vinyl
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="format.cassette" value="cassette">Cassette
                </label>
            </div>
        <!--Search Fail prompt-->
        <h2 id="fail"></h2>
        </form>
        <!--Search by Song form-->
        <h2>Search by Song</h2>
        <form id="form-search-song" ng-submit="songSearch()" class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="searchSong.artist" placeholder="Artist" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="text" ng-model="searchSong.track" placeholder="Song Title" class="form-control" required/>
            </div>
            	<input type="submit" id="submit" class="btn btn-success" value="Search!"/>
            <div>
                <label class="radio-inline">
                     <input type="radio" ng-model="format.cd" value="cd">CD
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="format.vinyl" value="vinyl">Vinyl
                </label>
                <label class="radio-inline">
                  <input type="radio" ng-model="format.cassette" value="cassette">Cassette
                </label>
            </div>
       	</form> 
       	<h2>Search by Artist</h2>
       	<form id="form-search-artist" ng-submit="artistSearch()" class="form-inline">
       		<div class="form-group">
       			<input type="text" ng-model="artistSearch.artist" placeholder="Arist" class="form-control" required/>
       		</div>
       		<input type="submit" class="btn btn-success" value="Search!"/>
       	</form>
    </section>