	<navigationbar></navigationbar>
    <!--Wishlist Section-->
	<notifications-bar class="notifications"></notifications-bar>
    <section id="wishlist" class="col-xs-12">
        <h1 id="wishGreet" >{{user}}'s Wishlist</h1>
        <h1 ng-show="empty">You have nothing in your wishlist!</h1>
            <ul id="wishItems" style="list-style-type:none" class="list-inline">
            	<li ng-repeat="item in items">
            		<div class="panel-heading">
            			<h4>{{item.artist}}</h4>
            			<h4>{{item.album}}</h4>
            		</div>
            		<div class="panel-body">
            			<img ng-src="{{item.url}}" class="img-responsive" href=" " ng-click="albumSearch(item.artist, item.album)"/>
            			<button class="btn btn-success" ng-click="collectAdd(item.artist, item.album, item.url)">Add to Collection</button>            			
            			<button class="btn btn-danger" ng-click="wishRemove(item.artist, item.album)">REMOVE</button>
            		</div>
            	</li>
            </ul>
    </section>